WP_DEBUG=true
WP_DEFAULT_THEME=wordplate
WP_ENVIRONMENT_TYPE=production

DB_HOST=maste103.mysql.tools
DB_NAME=maste103_masterkiev
DB_USER=maste103_masterkiev
DB_PASSWORD=R4*9jz*rP2
DB_TABLE_PREFIX=wp_

MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_USERNAME=shumjachi@gmail.com
MAIL_PASSWORD="qfqi cfqt hbgw kbwa"
MAIL_ENCRYPTION=SSL
MAIL_FROM_ADDRESS=shumjachi@gmail.com
MAIL_FROM_NAME="Order"

# https://vinkla.github.io/salts/
AUTH_KEY=
SECURE_AUTH_KEY=
LOGGED_IN_KEY=
NONCE_KEY=
AUTH_SALT=
SECURE_AUTH_SALT=
LOGGED_IN_SALT=
NONCE_SALT=
