# BEGIN Redirect www to non-www
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
    RewriteRule ^(.*)$ https://%1/$1 [L,R=301]
</IfModule>
# END Redirect www to non-www

<IfModule mod_rewrite.c>
RewriteEngine On

# Redirect specific pages to the homepage
RewriteRule ^usly/noihn0002167121\.html$ / [R=301,L]
RewriteRule ^xmlrpc\.php$ / [R=301,L]
RewriteRule ^968043144214273\.html$ / [R=301,L]
RewriteRule ^uk/author/master/$ / [R=301,L]
RewriteRule ^wp-content/uploads/2023/08/uslugi-santekhnika\.webp$ / [R=301,L]
RewriteRule ^cena/$ / [R=301,L]
RewriteRule ^tafish/bradh0004068739\.html$ / [R=301,L]
RewriteRule ^item/00679157507\.html$ / [R=301,L]
RewriteRule ^riraig/drice0003137474\.html$ / [R=301,L]
RewriteRule ^144090144214027\.html$ / [R=301,L]
RewriteRule ^wp-admin/admin-ajax\.php\?action=rest-nonce$ / [R=301,L]
RewriteRule ^ruansh/unen0002275947\.html$ / [R=301,L]
RewriteRule ^aburer/wagge0001705822\.html$ / [R=301,L]
</IfModule>

# BEGIN WordPress
# The directives (lines) between "BEGIN WordPress" and "END WordPress" are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress


