.main-blog .center {
    display: grid;
    grid-template-columns: 1fr 300px;
    gap: 50px;

    article {
        display: grid;
        grid-template-columns: 0.3fr 1fr;
        background: #ceeae1;
        border-radius: 20px;

        h2 {
            margin-top: 0;
            font-size: 20px;
            color: var(--color);
        }

        .thumb {
            width: 100%;
            height: 100%;

            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .body {
            padding: 25px;
        }

        .button {
            background: #fff;
            color: var(--color);
            padding-top: 5px;
            padding-bottom: 5px;
        }
    }

    @media (max-width: 991px) {
        grid-template-columns: 1fr;
    }

    @media (max-width: 767px) {
        article {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

.sidebar {
    background: #efefef;
    padding: 20px;
    margin: 20px 0;

    h3 {font-size: 15px;}

    ul {
        border-bottom: 1px solid #b6b6b6;
        margin-bottom: 30px;

        li {
            padding: 0 0 20px 20px;
            font-size: 12px;
        }
        li:before {
            width: 6px;
            height: 6px;
        }
    }

    ul:last-child {border-bottom: 0;}
}
