.main-blog .center {
    display: grid;
    grid-template-columns: 1fr 300px;
    gap: 50px;

    article {
        h2 {margin-top: 0;}

        .thumb {
            width: 150px;
            min-width: 150px;
            height: 100px;

            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    @media (max-width: 991px) {
        grid-template-columns: 1fr;
    }

    @media (max-width: 767px) {
        article {
            flex-direction: column;
            gap: 15px;
            align-items: center;

            h2 {display: none;}
            h2.hidden {display: block;}
        }
    }
}

.sidebar {
    background: #efefef;
    padding: 20px;
    margin: 20px 0;

    h3 {font-size: 15px;}

    ul {
        border-bottom: 1px solid #b6b6b6;
        margin-bottom: 30px;

        li {
            padding: 0 0 20px 20px;
            font-size: 12px;
        }
        li:before {
            width: 6px;
            height: 6px;
        }
    }

    ul:last-child {border-bottom: 0;}
}
