.main-blog .center {
    display: grid;
    grid-template-columns: 1fr 300px;
    gap: 50px;

    @media (max-width: 991px) {
        grid-template-columns: 1fr;
    }
}

.sidebar {
    background: #efefef;
    padding: 20px;
    margin: 20px 0;

    h3 {font-size: 15px;}

    ul {
        border-bottom: 1px solid #b6b6b6;
        margin-bottom: 30px;

        li {
            padding: 0 0 20px 20px;
            font-size: 12px;
        }
        li:before {
            width: 6px;
            height: 6px;
        }
    }

    ul:last-child {border-bottom: 0;}
}
