@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "header";
@import "footer";
@import "home";
@import "page";
@import "comment";
@import "blog";
@import "template";

* {outline: none;}

:root {
    --c-akcent: #006705;
}

body {
    font-size: 14px;
    color: #2f2f2f;
    font-family: Verdana, sans-serif;
    user-select: none;
    padding-bottom: 0 !important;
}

hr {
    margin: 30px 0;
}

main {
    padding: 0 0 50px 0;

    img {display: inline-block;}

    h1, h2, .h2, h3, h4, h5, h6 {
        font-weight: 600;
        color: var(--c-akcent);
        margin: 20px 0;
        line-height: 1.2;
    }
    h1 {font-size: 30px;}
    h2 {font-size: 25px;}
    h3 {font-size: 20px;}
    h4 {font-size: 15px;}
    h5 {font-size: 10px;}
    h5 {font-size: 5px;}

    p + p {margin-top: 15px;}

    .alignleft {
        float: left;
        margin-right: 25px;
    }
    .alignright {
        float: right;
        margin-left: 25px;
    }

    ol {
        margin: 30px 0;
        counter-reset: myCounter;
    }
    ol li:before {
        counter-increment: myCounter;
        content: counter(myCounter);
        color: #fff;
        display: inline-block;
        text-align: center;
        margin: 0px 15px 0px 0;
        line-height: 24px;
        width: 25px;
        height: 25px;
        background: var(--c-akcent);
    }
    ol li + li {margin-top: 15px;}
    ol li span {font-size: 14px !important;}

    ul li {
        position: relative;
        padding: 0 0 10px 30px;
    }
    ul li:before {
        display: block;
        content: '';
        height: 10px;
        width: 10px;
        left: 0;
        top: 5px;
        position: absolute;
        border-radius: 50%;
        background: var(--c-akcent);
    }
    ul li span {font-size: 14px !important;}

    table {
        width: 100%;
        margin: 40px 0;

        tr:nth-of-type(odd) {
            background: #fafafa;
        }

        tr:nth-of-type(even) {
            background: #fff;
        }

        td {
            padding: 13px 14px;
            border: 1px solid #eaeaea;
            vertical-align: top;
            span {font-size: 14px !important;}
        }
    }

    @media (max-width: 768px) {
        ol li:before {margin: 0 10px 0 0;}

        table h3 {font-size: 15px;}
    }
}

.center {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;

    @media (max-width: 1500px) {
        max-width: 1100px;
        padding: 0 15px;
    }
}

a:hover {
    color: var(--c-akcent);
    transition: all 0.3s;
}

.button {
    background: var(--c-akcent);
    border-radius: 30px;
    color: #fff;
    text-align: center;
    padding: 10px 15px;
    border: 2px solid transparent;
    &:hover {
        background: none;
        border-color: var(--c-akcent);
    }
}

input, textarea {
    min-height: 35px;
    border: 1px solid var(--c-akcent);
    border-radius: 5px;
    margin-top: 5px;
    padding: 0 10px;
    display: block;
}

textarea {
    min-height: 100px;
    resize: none;
    padding: 10px;
}

input[type="submit"] {
    background: var(--c-akcent);
    border-radius: 30px;
    color: #fff;
    padding: 10px 15px;
    border: 2px solid transparent;
    transition: all 0.3s;
    cursor: pointer;

    &:hover {
        background: none;
        border-color: var(--c-akcent);
        color: var(--c-akcent);
    }
}

.btn-top {
    position: fixed;
    right: 47px;
    bottom: 120px;
    width: 40px;
    height: 40px;
    border: 1px solid var(--c-akcent);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;

    svg {
        fill: none;
        stroke: var(--c-akcent);
        width: 15px;
        height: 15px;
        transform-origin: center;
        transform: rotate(-180deg);
    }
}

.back-call-footer {
    position: relative;

    input {
        display: block;
        width: 100%;
    }
    input[type="submit"] {margin-top: 15px;}

    .wpcf7-spinner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

main {flex: 1;}

.mr-star-rating {
    display: inline-flex;
    align-items: center;

    .fa-star {
        width: 15px;
        height: 15px;
        background-image: url("data:image/webp;base64,UklGRhoBAABXRUJQVlA4WAoAAAAwAAAAEAAADgAAVlA4TPwAAAAvEIADEHfBqI0kR57EH8/BuvcmGgwaSVJUh/5lnoFnGAZtIznyNWrPH08Ng0aSFEe/Z2eeGVV8oPnWNf31ZjaO+S/nepXlp3vxzlolshzk3aPEK0shTol4F9X+7QgMEXmZSc5bIqQwugshZFjpj4z1FeAL8ggKRkEoCAYAwAAOI8k2rX22bX1j88/vIoaI/its2wZJx/AIAAAoviUAAIqbBw9TT0Wy0rqxkVwNeWfn9bB8SL6Xoc5t+Pv9R5Ikyd99D50HSWqKh4v00vqVAYhOjZ+xdJy8FH8l8rP3VHh6kMNf4Z/KNGJ3E3eNzEyeXdCe5CzTPicLgDU+ewA=");
    }
}

.popup-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9991;
    background: rgba(0,0,0,.8);
}

.popup {
    position: fixed;
    top: 50% !important;
    left: 50%;
    z-index: 9992;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 30px;
    border-radius: 30px;

    .popup-close {
        position: absolute;
        top: 0;
        right: 0;
        width: 30px;
        height: 30px;
        background: var(--c-akcent);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -5px;
        margin-right: -5px;
        transition: all 0.3s;

        svg {
            fill: #fff;
            transition: all 0.3s;
        }

        &:hover {background: #fff;}
        &:hover svg {fill: #000}
    }
}

.popup-overlay,
.popup {
    display: none;
    opacity: 0;
}

.popup-overlay.active,
.popup.active {
    display: block;
    animation: opacity 0.5s linear forwards;
}

@keyframes opacity {100% {opacity: 1;}}

.popup-feedback {
    max-width: 500px;
    width: 100%;

    form {
        & > p {margin: 15px 0;}
        
        .wpcf7-form-control-wrap {
            margin-bottom: 35px;
            display: block;
        }

        input {width: 100%;}

        .wpcf7-not-valid-tip {
            background: #ffa6a6;
            color: #fff;
            display: inline-block;
            padding: 3px 15px;
            border-radius: 10px;
            font-size: 11px;
            position: absolute;
            top: 100%;
            left: 0;
            margin-top: 5px;
            z-index: 2;
        }

        .wpcf7-response-output {
            margin: 0;
            border: 1px solid #016704 !important;
            border-radius: 20px;
            padding: 10px 20px;
            line-height: 1;
            font-size: 13px;
            margin-top: 20px;
            text-align: center;
            font-weight: 500;
        }

        .wpcf7-spinner {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
            margin: 0;
        }
    }

    @media (max-width: 500px) {
        max-width: 95%;
    }
}
